<?xml version="1.0" encoding="UTF-8"?>
<tv generator-info-name="WebGrab+Plus/w MDB &amp; REX Postprocess -- version  V3.3.0.0 -- Jan van Straaten" generator-info-url="http://www.webgrabplus.com">
  <channel id="Event1">
    <display-name lang="en">Event1</display-name>
    <url>http://www.google.com.pk</url>
  </channel>
  <channel id="Event2">
    <display-name lang="en">Event2</display-name>
    <url>http://www.google.com.pk</url>
  </channel>
  <programme start="20230101000000 +0500" stop="20231231235959 +0500" channel="Event1">
    <title lang="en">For Current Event, check title</title>
  </programme>
  <programme start="20230101000000 +0500" stop="20231231235959 +0500" channel="Event2">
    <title lang="en">For Current Event, check title</title>
  </programme>
</tv>
